*{
  margin: 0;
  padding: 0;
  top:0;
  left:0;
}
body{
  margin: -1px;
}

#main1{
  position:absolute;
  height:100vh;
  width:100%; 
}
#header{
  position:relative;
  background-color: #FFFFFF;
  height:10vh;
  width:100%;
}

#icona{
  position:relative;
  height:10vh;
  width:10vh;
  top:0%;
  left:1%;
  float:left;
}

#icona svg{
  position: relative;
  width:70%;
  height:70%;
  left:15%;
  top:15%;
  
}
#header a{
  position: relative;
  top:25%;
  left:26%;
  margin-left:5%;
  color: black;
}
  
#kupyt1{
  position: relative;
  height: 50%;
  width: 10%;
  top:22%;
  left:56%;
  display: inline-block;
  border-radius:20px;
  text-align: center;
}
#kupyt1 button{
  position: relative;
  overflow: inherit;
  border-radius: 20px;
  width:100%;
  background-color: #F26D22;
  color:white;
}
#main_picture{
  position: relative;
  width:100%;
  height: 90vh;
  background: url(main1.jpg);
  background-size: 100%;  
}

#main_picture h2{
  position: relative;
  top:3%;
  text-align: center;
  font-family: Amatic SC;
  font-style: normal;
}

.text{
  position: relative;
  top:8%;
  left:57%;
  width:30%; 
}

.text h1{
  color: #4BBF41;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.015em;
}

.text p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #212121;
}

.main2{
  position:absolute;
  height:120vh;
  width:100%;
  top:100vh;
  left:0px;
  background-color: #F3F3F3;
}

.menu_kateg{
    position: relative;
    top:7vh;
    left:3%;
    width:12%;
    height:3vh;
}


.klasychna{
  position: relative;
  top:3vh;
  left:18%;
  height:70%;
  width:80%;
}

.windows1{
  position: relative;
  top:25%;
  margin-left: 20px;
  height:80%;
  width:27%;
  background-color: #FFFFFF; 
  float: left;
}

#kiduk{
  position: relative;
  top:2vh;
  left:25%;
  width:50%;
  height:55%;
}

.p1{
  position: relative;
  top:6%;
  font-family: Roboto;
  text-align: center;
}

.price{
  position: relative;
  top:12vh;
  left:10qqqqqqqqqqqqqqqqqqq%;
  float: left;
}

#button2{
  position: relative;
  top:12vh;
  left:55%;
  background-color: #F26D22;
  font-family: Roboto;
}

.sub{
  position: absolute;
  top:220vh;
  left:0;
  height:80vh;
  width:100%;
  background-color:#E3D8E6; 
}

.sub_text{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #0D0D0D;
  position: relative;
  top:7vh;
  left:35%;
  width:60%;
}

.sub input{
    position: relative;
    top:20vh;
    left:31%;
    width:30%; 
    height:4vh;
}

#button3{
    position: relative;
    top:16vh;
    height:4vh;
    float:left;
    margin-left:61%;
    background-color: #F26D22;
}

.futer{
  position: absolute;
  top:260vh;
  left:0;
  width:100%;
  height:50vh;
  background-color: #272626;
}

.futer p{
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.015em;
  width:50%;
  top:2vh;
  left:-18%;
  color: #D1C8C8;
}

.futer button{
  position: relative;
  top:15vh;
  float:left;
  margin-left: 3%;
  background-color: #272626;
  border: 0;
}